<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if (!user) { %>
      <a href="/login">Log In</a>
      <a href="/register">Register</a>
    <% } else { %>
      <a href="/logout">Log Out</a>
      <p>Hi, <%= user.username %>!</p>
    <% } %>
    <h1>Messages</h1>
    <% if (user) { %>
      <a href="/newmessage">Create a new message</a>
    <% } %>
    <% if (user && !user.member) { %>
      <a href="/joinclub">Join the club</a>
    <% } %>
    <div class="messages">
      <% messages.forEach(message => { %>
          <div class="message-card">
            <h2><%= message.title %></h2>
            <% if (user && user.admin) { %>
              <a href="/deletemessage/<%= message.id %>">DELETE</a>
            <% } %>
            <p><%= message.text %></p>
            <% if (user && (user.member || user.admin)) { %>
                <span>Author: <%= message.username %></span>
                <span>Time: <%= message.timestamp %></span>
            <% } else { %>
                <span>Author and time hidden for non-members</span>
            <% } %>
          </div>
      <% }) %>
    </div>
  </body>
</html>
