<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <%- include('partials/errors', { errors }) %>
    <form action="/register" method="POST">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" id="firstName" value="<%= locals.inputs.firstName %>" />
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" id="lastName" value="<%= locals.inputs.lastName %>" />
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" value="<%= locals.inputs.username %>" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" value="<%= locals.inputs.password %>" />
      <label for="passwordConfirmation">Confirm Password:</label>
      <input
        type="password"
        name="passwordConfirmation"
        id="passwordConfirmation"
        value="<%= locals.inputs.passwordConfirmation %>"
      />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
